
@import url('../fonts/CalibreWeb-Bold.woff');
@font-face{
 font-family: 'CalibreWeb-Bold';
 src: url('../fonts/CalibreWeb-Bold.woff');
 src: url('../fonts/CalibreWeb-Bold.woff') format(woff);
}

#container {
  height: 100vh;
  position: relative;
}
#map,
#infoi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#infoi {
  z-index: 10;
}

.box{
	margin-top:50px;
	height:30vh;
	width:80vh;
	background:#fafafa;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align:center;
	vertical-align: middle;
	color: 61b4f3;
}
